<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.area51.socialapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SocialAppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SocialAppTheme">

        <!-- Meta-data -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f1a57da980fcc2cebacfa01c4872f50e4ce429a5" />

        <!-- IdFacebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!-- Services -->
        <service android:name=".helpers.firebase.notifications.SocialAppMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".helpers.firebase.notifications.SocialAppInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Activitys -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".screens.feed.view.FeedActivity" />
        <activity
            android:name=".screens.splash.view.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.login.view.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".screens.followers.view.FollowersActivity" />
        <activity android:name=".screens.audio.view.AudioActivity" />
        <activity android:name=".screens.maps.view.SocialMapsActivity" />
        <activity android:name=".screens.video.view.VideoActivity" />
        <activity android:name=".screens.youtube.view.SocialYoutubeActivity" />
        <activity android:name=".screens.video.view.HlsActivity" />
        <activity android:name=".screens.video.view.VideoviewActivity" />
        <activity android:name=".screens.video.view.SurfaceActivity"></activity>
    </application>

</manifest>